<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Government College of Pharmacy</title>

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/svg+xml"
      href="../assets/Favicon/favicon.svg"
    />

    <!-- External Css -->

    <link rel="stylesheet" href="../assets/css/style.css" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Footer -->
    <footer
      class="footer-section text-white py-5"
      style="background: linear-gradient(135deg, #445d77, #003366)"
    >
      <div class="container">
        <div class="row g-4">
          <!-- Student Corner -->
          <div class="col-md-4">
            <h5 class="fw-bold border-bottom border-light pb-2 mb-3">
              Student Corner
            </h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://antiragging.in/affidavit_affiliated_form.php" class="footer-link"
                  >Antiragging Student Registration</a
                >
              </li>
              <li>
                <a href="https://digipharmed.pci.gov.in/#/registration/Student" class="footer-link"
                  >Student Registration on PCI Portal</a
                >
              </li>
              <li>
                <a href="https://scholarship.canarabank.bank.in/PCI/SchRegistration.aspx" class="footer-link"
                  >GPAT Scholarship Registration</a
                >
              </li>
              <li>
                <a href="https://onlinesbi.sbi.bank.in/sbicollect/" class="footer-link"
                  >Online Fees</a
                >
              </li>
              <li>
                <a href="https://mahadbt.maharashtra.gov.in/" class="footer-link"
                  >Mahadbt for Scholarship</a
                >
              </li>
              <li>
                <a href="https://www.gcpharma.ac.in/-https://natboard.edu.in/viewnbeexam?exam=gpat" class="footer-link">GPAT</a>
              </li>
              <!-- <li>
                <a href="../workInProgress.html" class="footer-link"
                  >SGBA University Result</a
                >
              </li> -->
              <li>
                <a href="https://swayam.gov.in/" class="footer-link">Swayam</a>
              </li>
              <li>
                <a href="https://www.mspcindia.org/" class="footer-link"
                  >Pharmacist Registration</a
                >
              </li>
            </ul>
          </div>

          <!-- Important Links -->
          <div class="col-md-4">
            <h5 class="fw-bold border-bottom border-light pb-2 mb-3">
              Important Links
            </h5>
            <ul class="list-unstyled">
              <li>
                <a href="https://aaplesarkar.mahaonline.gov.in/en" class="footer-link"
                  >Aple Sarkar</a
                >
              </li>
              <li>
                <a href="https://dte.maharashtra.gov.in/" class="footer-link"
                  >DTE Mumbai</a
                >
              </li>
              <li>
                <a href="https://www.dteau.org/" class="footer-link"
                  >JDTERO Sambhaji Nagar</a
                >
              </li>
              <li>
                <a href="https://www.bamu.ac.in/" class="footer-link"
                  >Dr. Babasaheb Ambedkar Marathwada</a
                >
              </li>
              <li>
                <a href="https://pci.gov.in/en/" class="footer-link"
                  >PCI New Delhi</a
                >
              </li>
              <li>
                <a href="https://www.ugc.gov.in/" class="footer-link"
                  >UGC New Delhi</a
                >
              </li>
            </ul>
          </div>

          <!-- Contact -->
          <div class="col-md-4">
            <h5 class="fw-bold border-bottom border-light pb-2 mb-3">
              Contact Us
            </h5>
            <img
              src="/assets/images/GCOP CSN Logo-Photoroom.png"
              alt="Logo"
              class="logo-img"
              style="display: flex; margin: auto; width: 100px; height: 100px"
            />

            <p class="mb-2 text-center">Government College Of Pharmacy</p>
            <h6 class="fw-bold mt-3">Find Our Location</h6>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30019.80282138433!2d75.321068!3d19.86214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdb986495555555%3A0x87b25e619030fdc4!2sGovt%20College%20of%20Pharmacy%2C%20Aurangabad!5e0!3m2!1sen!2sin!4v1764502423192!5m2!1sen!2sin" width="100%"
              height="160"
              style="border: 0; border-radius: 12px; margin-bottom: 15px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="mb-1">
              <strong>Address:</strong><br />Government College of Pharmacy Chhatrapati Sambhajinagar Vedant Road, Peer Bazar, Osmanpura, Chhatrapati Sambhajinagar Pin-431005
            </p>
            <p class="mb-1">
              <strong><i class="bi bi-telephone-fill me-2"></i></strong>
              02402321130
            </p>
            <p class="mb-1">
              <strong><i class="bi bi-envelope-fill me-2"></i></strong>
              office.gcopaurangabad@dtemaharashtra.gov.in
            </p>
            <!-- <p class="mb-1">
              <strong><i class="bi bi-pc-display-horizontal me-2"></i></strong>
              0240-2400431
            </p>
            <p class="mb-1"><strong></strong><i class="bi bi-globe2 me-2"></i></strong></strong>www.bamu.ac.in</p> -->

            <!-- Social Icons -->
            <!-- <div class="mt-3">
              <a href="#" class="text-white me-3"
                ><i class="bi bi-twitter"></i
              ></a>
              <a href="#" class="text-white me-3"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a href="#" class="text-white me-3"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="#" class="text-white me-3"
                ><i class="bi bi-geo-alt-fill"></i
              ></a>
            </div> -->
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </body>
</html>
